:root {
    --color-1: #2c2c2c;
    --color-2: #262a2b;
    --color-3: #2c2f31;
    --color-4: #373c3e;
    --color-5: #4b4b4b;
    --green-1: #05f7c0;
    --green-2: #0ba484;
    --green-3: #237563;
    --red-1: #c30101;
    --red-2: #940000;
    --red-3: #6f0000;
    --blue-1: #152238;
    --blue-2: #1c2e4a;
    --blue-3: #23395d;
    --yellow1: #e1d816;
    --yellow2: #9c9723;
    --yellow3: #605c00;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-2);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 1200px;
}

.account-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 430px;
    padding: 5px;
    margin-top: 45px;
    /* background-color: var(--color-3);
    border: 1px solid var(--color-5); */
    border-radius: 5px;
}

.bets-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    padding: 5px;
}

.bets-list > h2 {
    font-size: 20px;
    padding: 0;
    margin: 15px 0 5px 0;
}
